body {
  background-color: rgba(24, 22, 22, 0.9);
}

.modal-footer {
  border-top: 0px;
}
.modal-dialog {
  margin-top: 20vh;
}
#barralogin {
  background-color: rgb(224, 18, 18);
  color: rgba(24, 22, 22, 0.9);

}
#barralogin:hover{
  d
}